.contacto {
    display: flex;
    gap: 24px;
}

.contacto div {
    width: 100%;
}

.datos p {
    font-size: 15px;
}

.datos ul li {
    font-size: 14px;
}

.formulario p {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.formulario p label {
    min-width: 80px;
    display: flex;
    align-items: center;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"] {
    flex-grow: 1;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    outline: none;
    border-radius: 4px;
}

.formulario p:nth-child(4) {
    align-items: start;
}

.formulario textarea {
    resize: none;
    width: 100%;
    height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    outline: none;
    border-radius: 4px;
}

.formulario input[type="submit"] {
    background: #f19a5c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 80px;
    cursor: pointer;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}

.formulario input[type="submit"]:hover {
    background-color: #ff3131;
}
