@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 20px;
}

header {
    background-color: #f19a5c;
    padding: 16px 0;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    background-color: #000;
}


.homeimg {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

header h1 {
    color: #ff3131;
    font-size: 45px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 15px;
}

nav {
    background-color: #ff914d;
    margin-bottom: 25px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: #ff3131;
}

nav ul li a.activo {
    background-color: #ffde59;
}

footer {
    background-color: #ff914d;
    clear: both;
    color: #ff3131;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}